<!DOCTYPE html>
<html>
<head>
  <title>PasswordReusePolicyTestapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash.present? %>
  <% flash.each do |k,v| %>
    <p><%= k.to_s.capitalize %> - <%= v %></p>
  <% end %>
<% end %>

<% if current_admin %>
  <%= link_to "Sign Out", destroy_admin_session_path, method: :delete %>
  <%= link_to "Change Password", edit_admin_registration_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>
<%= yield %>

</body>
</html>
